<html>
<head>
    <meta charset="utf-8"/>
    <title>Consensus -- {{ room_name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.1.min.css"/>
</head>
<body>
    <center>
    <h1 id="room-name">{{ room_name }}</h1>
    <button id="confusion-button">I'm confused.</button>
    </center>

    <script>
        const roomName = document.getElementById("room-name").textContent;
        let protocol = window.location.protocol === "https:" ? "wss://" : "ws://";
        const socket = new WebSocket(
            protocol + window.location.host
            + "/ws/student/" + roomName + "/"
        );

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data["message"] === "end class") {
                window.location.pathname = '/';
            }
        };

        socket.onclose = function(e) {
            console.error("Socket closed unexpectedly");
        };

        const CONFUSED = "I'm confused.";
        const NOTCONFUSED = "I'm no longer confused.";
        const confusionButton = document.getElementById("confusion-button");
        confusionButton.onclick = function(e) {
            const message = confusionButton.innerText;
            socket.send(JSON.stringify({"message":  message}));
            confusionButton.innerText = (message === CONFUSED ? NOTCONFUSED : CONFUSED);
        };
    </script>
</body>
</html>

