<html>
<head>
    <meta charset="utf-8"/>
    <title>Consensus -- {{ room_name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.1.min.css"/>
</head>
<body>
    <center>
    <h1 id="room-name">{{ room_name }}</h1>
    <h2># of total students: <span id="total-students">0</span></h2>
    <h2># of confused students: <span id="confused-students">0</span></h2>
    </center>

    <script>
        const roomName = document.getElementById("room-name").textContent;
        let protocol = window.location.protocol === "https:" ? "wss://" : "ws://";
        const socket = new WebSocket(
            protocol + window.location.host
            + "/ws/teacher/" + roomName + "/"
        );

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data["confused_students"] !== undefined) {
                const confused_students = data["confused_students"];
                document.getElementById("confused-students").textContent = confused_students;
            } else if (data["total_students"] !== undefined) {
                const total_students = data["total_students"];
                document.getElementById("total-students").textContent = total_students;
            }
        };

        socket.onclose = function(e) {
            console.error("Socket closed unexpectedly");
        };
    </script>
</body>
</html>
